<div>
    <nav class="navbar">
      <a href="#" class="navbar-board">Angular Fire 2021</a>
      <div>
        <li class="nav-item">
            <a routerLink="Registro" class="nav-link">Registro</a>
        </li>
        <li class="nav-item">
            <a routerLink="Login" class="nav-link">Login</a>
          </li>
        <li class="nav-item">
          <a routerLink="QuienSoy" class="nav-link">Quien Soy</a>
        </li>
        <li class="nav-item">
            <a routerLink="Charla" class="nav-link">Chat</a>
        </li>
      </div>
    </nav>
  </div>
  
